<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880026547405-jd7435gc5ltqepiash56p9afe69jnps5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880026547405-jd7435gc5ltqepiash56p9afe69jnps5</string>
	<key>API_KEY</key>
	<string>AIzaSyCS45gVKd4VgOLCiKqpdBSWgo8tl-Vm7FE</string>
	<key>GCM_SENDER_ID</key>
	<string>880026547405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.excelformulagpt</string>
	<key>PROJECT_ID</key>
	<string>excel-formula-g-p-t-3nw07m</string>
	<key>STORAGE_BUCKET</key>
	<string>excel-formula-g-p-t-3nw07m.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880026547405:ios:f39e32b96840f4f4166584</string>
</dict>
</plist>